<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= sanitize link_to @user.url, @user.url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= sanitize @user.bio %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
